<div class="ilForm">
	<div class="ilFormRow">
		<div class="ilFormHeader">
			<h3 class="ilFormHeader">Question</h3>
		</div>
		<div class="ilFormHeader ilFormCommands"></div>
	</div>
	<div class="ilFormRow">
		<div id="il_prop_cont_" class="ilFormOption">
			<label>
				Titel
			</label>
		</div>
		<div class="ilFormValue">
			{TXT_TITLE}
		</div>
	</div>
	<div class="ilFormRow">
		<div id="il_prop_cont_" class="ilFormOption">
			<label>
				Autor
			</label>
		</div>
		<div class="ilFormValue">
			{TXT_AUTHOR}
		</div>
	</div>
	<div class="ilFormRow">
		<div id="il_prop_cont_" class="ilFormOption">
			<label>
				Beschreibung
			</label>
		</div>
		<div class="ilFormValue">
			{TXT_DESCRIPTION}
		</div>
	</div>
	
	<div class="ilFormRow">
		<div id="il_prop_cont_" class="ilFormOption">
			<label>
				Frage mit Antworten
			</label>
		</div>
		<div class="ilFormValue">
			{TXT_INNER_PART}
		</div>
	</div>
</div>

<br>
