<div class="ilForm iosMin500">
	<div class="ilFormRow">
		<div class="ilFormHeader">
			<h3 class="ilFormHeader">{QUESTION}</h3>
		</div>
		<div class="ilFormHeader ilFormCommands"></div>
	</div>
	<div class="ilFormRow">
		<div id="il_prop_cont_" class="ilFormOption">
			<label>
				{TITLE}
		</div>
		<div class="ilFormValue">
			{TXT_TITLE}
		</div>
	</div>
	<div class="ilFormRow">
		<div id="il_prop_cont_" class="ilFormOption">
			<label>
				{AUTHOR}
			</label>
		</div>
		<div class="ilFormValue">
			{TXT_AUTHOR}
		</div>
	</div>
	<div class="ilFormRow">
		<div id="il_prop_cont_" class="ilFormOption">
			<label>
				{LOUTC}
			</label>
		</div>
		<div class="ilFormValue">
			{TXT_LOUTC}
		</div>
	</div><div class="ilFormRow">
		<div id="il_prop_cont_" class="ilFormOption">
			<label>
				{COMPL_QUESTION}
			</label>
		</div>
		<div class="ilFormValue">
			{TXT_INNER_PART}
		</div>
	</div>
</div>

<br>
